<head>
    <script src="../global/vue.js"></script>
    <link rel="stylesheet" href="../global/main.css">
    <link rel="stylesheet" href="style_gg.css">
    <title>Playing with VueJs</title>
</head>
<body>
    <div id="maincontainer">
        <h4>{{message}}</h4>
        <div class="box" v-if="change"></div>
        <div class="box2" v-else></div>
        <button class="actbutton" @click="changeColor">Change to {{buttonchange}} </button>
    
        <p v-if="awesome">Vue is awesome!</p>
        <p v-else>Oh no! Something went wrong.</p>
        <button class="actbutton8" @click="awesome = !awesome">Toggle text</button>
        <br><br>
    
        <div class="table-responsive" v-if="visible">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Roll No</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dis in arr">
                        <td>{{dis.name}}</td>
                        <td>{{dis.age}}</td>
                        <td>{{dis.rollno}}</td>
                        <td>{{dis.result}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="actbutton3" @click="alertResult">Alert how many passed</button>
        <button class="actbutton2" @click="toggleTable">{{tableBtn}} </button>
        <button class="actbutton4" @click="letThemPass">Let them all Pass</button>
        <button class="actbutton4" @click="letThemFail">Let them all Fail</button>
    </div>
</body>

<script src="script_gg.js"></script>